.sort-bar {
  display: flex;
  align-items: center;
}

.sort-bar__item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f53c;
  font-size: 15px;
}

.sort-bar .active {
    color: #F5F5F5;
}
