@import url(../inputs/main-header__input.css);



.main-header {
  height: 50px;
  width: 100%;
}

.main-header__wrapper {
  height: inherit;
  width: calc(var(--main-width) + 400px);
  margin: 0 auto;
  min-height: inherit;;
  background-color: var(--second-bg-color);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: -2px;
}

.main-header__container {
  margin-left: 100px;
  padding: 8px 0;
  height: inherit;
  display: flex;
  align-items: center;
  min-height: inherit;
  min-width: calc(var(--main-width) + 200px);
}

.main-header__logo a{
  color: var(--border-color);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.main-header__search {
  width: 200px;
  margin-left: 50px;
  margin-right: 24px;
}

.main-header__buttons {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;

}

.main-header__button {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}


.main-header__button svg {
  width: 17px;
  height: 17px;
}


.main-header__music-name {
  margin-left: 10px;
  color: var(--font-color);
  font-weight: 500;
  font-size: 12px;
}

