.main-header__search {
  min-width: 30px;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__search input {
  height: inherit;
  width: inherit;
  min-height: inherit;
  border: none;
  padding-left: 12px;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 12px
}

.main-header__search input::placeholder {
  color: #ffffff4a;
  font-size: 12px;
  font-weight: 400;
}

.main-header__search input:focus {
  outline: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
}
