.left-bar {
  position: absolute;
  background-color: var(--second-bg-color);
  width: 40px;
  padding: 12px 5px;
  border-radius: 20px;
}



.left-bar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.left-bar__item {
  margin-bottom: 24px;
  width: 80%;
}

.left-bar__item:last-child {
  margin-bottom: 5px;
}
