.auth-page {
  color: var(--font-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.auth-page__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth-page__modal__container {
  background-color: rgb(32, 31, 31);
  width: 400px;
  height: 500px;
  padding: 25px;
  border-radius: 30px;
}

.logo {
  color: var(--border-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
}
