.my-music-bar {
  margin-bottom: 20px;
}

.drop-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.drop-down-button svg {
  height: 10px;
}

.my-musics {
  padding: 15px;
  border: 1px solid #006bff;
  border-radius: 15px;
  display: none;
}

.my-musics__sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--font-color);
  font-size: 12px;
}

.my-musics__sort-bar-container {
  background-color: var(--second-bg-color);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-musics__sort-bar-container svg {
  height: 7px;
  margin-left: 7px;
}
