@import url(./components/my-music-bar/my-music-bar.css);
@import url(./reset.css);
@import url(./components/headers/main-header.css);
@import url(./components/left-bar/left-bar.css);
@import url(./components/news-page/news-page.css);
@import url(./components/sort-bar/sort-bar.css);
@import url(./components/news-card/news-card.css);
@import url(./components/music-card/music-card.css);
@import url(./components/home-page/home-page.css);
@import url(./components/add-music/add-music.css);
@import url(./components/loaders/loader.css);
@import url(./components/library-page/library-page.css);
@import url(./components/auth-page/auth-page.css);

* {
  font-family: "Inter", "Roberto", sans-serif;
}

body {
  background: var(--main-bg-color)
}

:root {
  /* --main-bg-color: #19193a; */
  --main-bg-color: #0a0a0a;
  /* --second-bg-color: #162447; */
  --second-bg-color: #00000056;
  --index: calc(1vh+1vw);
  --font-color: #fff;
  --main-width: 550px;
  --music-card-bg: #810a7f;
  --accept-bg-color: #417431;
  --input-bg-color: #5656560c;
  --border-color: #8e1a67;
}

.activable-button{
    cursor: pointer;
}

.activable-button:hover{
    opacity: 0.7;
}


.border-element{
  border: 2px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
}



